@use '../util' as *;


.nav{
    // position: relative;
    overflow: hidden;
    width: 100%;
    height: rem(68);
    border-bottom: 0.3px solid var(--dark-grayish-blue);
    @include breakpoints-up(large){
        margin-bottom: rem(90);
    }
    

    &__toggle{
        height: rem(16);
        width: rem(16);
        margin-right: rem(16);
        cursor: pointer;
    }


    &__logo{
        display: inline-block;
        cursor: pointer;
        height: rem(20);
        width: rem(138);

        @include breakpoints-up(large){
            margin-right: rem(57);
        }
    }


    &__links{

        &-primary{
           
            a{
                color: var(--dark-grayish-blue);
                font-weight: 400;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                position: relative;
                height: rem(68);           

                &:not(:last-child){
                    margin-right: rem(34);
                }

                &::before{
                    content: '';
                    position: absolute;
                    display: none;
                    bottom: 0;
                    left: 0;
                    height: rem(4);
                    width: 100%;
                    background: var(--orange);
                }

                &:hover{

                    color: var(--very-dark-blue);
                    &::before{
                        display: block;
                    }
                }
            }
        }
    }


    &__cart{
        display: inline-block;
        width: rem(24);
        height: rem(24);
        margin-right: rem(20);
        cursor: pointer;

        &__info{
            position: absolute;
            top: rem(76);
            right: rem(2);
            width: rem(360);
            height: rem(256);
            border-radius: rem(10);
            background: green;
            z-index: 1000;

            h3{
                height: rem(68);
                border-bottom: rem(0.3) solid var(--dark-grayish-blue);
                color: var(--very-dark-blue);
                font-size: rem(14);
                padding: rem(27) rem(24);
            }
        }

        &__prod{

            &-img{
                width: rem(50);
                height: rem(50);
                border-radius: rem(5);
                margin-right: rem(16);
            }

            &-del{
                width: rem(14);
                height: rem(16);
            }
        }

    }


    &__avatar{
        display: inline-block;
        width: rem(24);
        height: rem(24);
        border-radius: 50%;
        cursor: pointer;

        &:hover{
            border: 2px solid var(--orange);
            transform: scale(1.2);
        }


    }

}


