.focus{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 5;

    &__prodviewer{
        overflow: hidden;
        height: 100%;
        // position: absolute;
        display: flex;
        align-items: center;
        z-index: 8;

    }
}