@use '../util' as *;

.prod{

    &.open{
        @include breakpoints-up(large){
            margin-right: 0;
        }
    }
    position: relative;
    overflow: hidden;
    
    @include breakpoints-up(large){
        margin-right: rem(128);
        max-width: rem(574);
    }

    &__image{
        position: relative;
        cursor: pointer;
        width: 100vw;
        height: rem(300);
        margin-bottom: rem(24);
        object-fit: cover;

        &-thumbnails{ // plural
            display: none;
            grid-template-columns: repeat(4, rem(91.5));
            grid-template-rows: rem(90);
            grid-gap: rem(26.5);
            width: 100%;
            // margin-bottom: rem(130);

            @include breakpoints-up(large){
                display: grid;
            }
        }

        &-thumbnail{ // singular
            position: relative;
            border-radius: 5px;
            overflow: hidden;

            &:hover{
                border: 2px solid var(--orange);
                opacity: 0.4;
            }
        }
        
        @include breakpoints-up(large){
            width: rem(446);
            height: rem(446);
            margin-bottom: rem(32);
            border-radius: rem(11);
            overflow: hidden;
        }
    }


    &__controls{

        &-left{
            position: absolute;
            top: 45%;
            left: rem(17);
            width: rem(42);
            height: rem(42);
            border-radius: 50%;
            background: white;
            z-index: 1;

            @include breakpoints-up(large){
                display: none;
                left: - rem(21);
            }


            &.open{
                @include breakpoints-up(large){
                    display: flex;
                }
            }

            span{
                display: block;
                width: rem(8);
                height: rem(2);
                background: black;
                transform-origin: left;

                &:first-child{
                    transform: rotate(-45deg);
                }

                &:last-child{
                    position: absolute;
                    transform: rotate(45deg);
                }
            }
        }

        &-right{
            position: absolute;
            top: 45%;
            right: rem(17);
            width: rem(42);
            height: rem(42);
            border-radius: 50%;
            background: white;
            z-index: 1;

            &.open{
                @include breakpoints-up(large){
                    display: flex;
                }
            }

            @include breakpoints-up(large){
                display: none;
                right: - rem(21);
            }

            span{
                display: block;
                width: rem(8);
                height: rem(2);
                background: black;
                transform-origin: right;

                &:first-child{
                    transform: rotate(-45deg);
                }

                &:last-child{
                    position: absolute;
                    transform: rotate(45deg);
                }
            }
        }
    }
}
